/* Dark mode styles */

body {
  background-color: black;
  color: white;
}

.section-gradient {
  background: black;
  /* color: black; */
}

.section-white {
  background-color: black;
  color: white;
}

.service-tile {
  width: 100%;
  max-width: 250px;
  /* Set the desired width */
  height: 280px;
  /* Set the desired height */
  margin: 10px auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  border: #ffffff solid 1px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.116);
  position: relative;
  overflow: hidden;
  text-align: center;
}

h1 {
  color: white;
}

p {
  color: white;
}

#contact {
  background-color: #333;
  /* Dark mode background */
  color: white;
  /* Dark mode text color */
  padding: 50px 0;
  /* Vertical padding */
}

#contact form {
  background-color: #444;
  /* Dark mode form background */
  border: 1px solid #555;
  /* Dark mode border */
}

/* Adjust input and textarea colors for dark mode */
#contact input,
#contact textarea {
  background-color: #555;
  /* Dark mode input background */
  color: white;
  /* Dark mode input text color */
  border: 1px solid #666;
  /* Dark mode input border */
}

#AboutHeading {
  color: #ffffff;
}

#missionicon,
#visionicon {
  color: rgb(0, 195, 255);
}

#missionheading,
#visionheading {
  color: white;
}

.hover-box .hover-text {
  background: #000000;
}

.fas {
  color: #ffffff;
  /* Replace with the desired color */
}

.fas.fa-sun {
  color: rgb(0, 225, 255);
}

.service-tile {
  background: black;
}

.service-tile h4 {
  color: #0a8506;
}

.read-more-btn {
  background-color: #f0ad4e;
  color: rgb(0, 0, 0);
}

.read-more-btn:hover {
  background-color: #0a8506;
}

.fab {
  color: white;
}

.fab:hover {
  color: #f0ad4e;
}


.card-text{
  color: #000000;
}

.navbar-toggler-icon{
  color: #ffffff !important;
}