/* Light mode styles */

body {
    background-color: white;
    color: black;
}


.section-gradient {
    /* background: linear-gradient(135deg, #6C63FF, #9E79FF); */
    background: linear-gradient(116.59deg, #764DCC 12.56%, #4B28B8 66.85%);
    color: white;
}

.section-white {
    background-color: white;
    color: black;
}

h1 {
    color: black;
}

p {
    color: black;
}

#hero {
    background: #6a5acd;
    /* Violet background */
}

#contact {
    background-color: #f8f9fa;
    /* Light mode background */
    color: black;
    /* Light mode text color */
    padding: 50px 0;
    /* Vertical padding */
}

#contact h2 {
    margin-bottom: 20px;
    /* Space below heading */
}

#contact form {
    background-color: white;
    /* Form background */
    padding: 20px;
    /* Padding inside the form */
    border-radius: 5px;
    /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
}

.fas {
    color: #000000;
    /* Replace with the desired color */
}

.service-tile h4 {
    color: #0b2bdd;
}


.mb-4.text-center p{
    color: #ffffff;
}

.mb-4.text-center h5{
    color: #ffffff;
}

#copyright{
    color: white;
}

#contactustext{
    color: white;
}
#contactuspara{
    color: #ffffff;
}
.fab {
    color: white;
}

.fab:hover {
    color: #1cbde6;
}

.card-text {
    color: #000000;
}

.navbar-toggler-icon{
    color: #ffffff !important;
  }