/* General Font Style */
body {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    background-color: transparent !important;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease-in-out;
}

/* Navbar background for desktop when scrolled */
.navbar.scrolled-desktop {
    background-color: rgba(0, 0, 0, 0.9) !important;
}


.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.navbar.mobile-navbar {
    background-color: rgba(0, 0, 0, 0.9) !important;
    padding: 0.5rem 1rem;
}

.navbar .nav-link {
    color: #ffffff;
    margin-right: 1rem;
    font-size: 1rem;
}

.navbar .nav-link.active {
    color: #f8c20e;
}

#logo {
    color: #f8c20e;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}